<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />

    <title>Anatomy of a Song</title>
  </head>
  <body>
    <div class="background-color-1"></div>
    <div class="background-color-2"></div>
    <div class="model-inputs-container">
      <div class="model-inputs-sliders">
        <h2 class="title">Anatomy of a Song</h2>
        <div id="subtitle" class="subtitle">
          {{ explainer_content|safe }}
        </div>
        <div class="model-inputs">
          <label class="input-label" for="durationInput" class="durationInput">
            Duration (minutes):</label>
          <input
            class="input"
            type="number"
            min="0"
            max="10"
            step="0.1"
            value="3.8"
            id="duration_ms"
          />

          <label class="input-label" for="tempoInput" class="durationInput"
            >Tempo:</label
          >
          <input
            class="input"
            type="number"
            min="0"
            max="250"
            step="1.0"
            value="120"
            id="tempo"
          />

          <label class="input-label" for="genreSelect" class="genreSelect"
            >Genre:</label
          >
          <select class="select" id="track_genre">
            {% for genre in genres %}
            <option value="{{ genre }}">{{ genre.capitalize() }}</option>
            {% endfor %}
          </select>

          <label class="input-label" for="keySelect" class="keySelect"
            >Key:</label
          >
          <select class="select" id="key">
            {% for key in keys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
          </select>
          <div id="output">
            Change the values of the inputs and click submit.
          </div>
        </div>

        <div class="model-sliders">
          <label for="danceability" class="slider-label">Danceability:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="danceability"
          />

          <label for="energy" class="slider-label">Energy:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="energy"
          />

          <label for="speechiness" class="slider-label"> Speechiness:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="speechiness"
          />

          <label for="acousticness" class="slider-label">Acousticness:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="acousticness"
          />

          <label for="instrumentalness" class="slider-label"
            >Instrumentalness:</label
          >
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="instrumentalness"
          />

          <label for="liveness" class="slider-label">Liveness:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="liveness"
          />

          <label for="valence" class="slider-label">Valence:</label>
          <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="slider"
            id="valence"
          />

          <label for="loudness" class="slider-label">Loudness:</label>
          <input
            type="range"
            min="-60"
            max="0"
            step="1"
            value="-30"
            class="slider"
            id="loudness"
          />
        </div>
        <button id="submitBtn">Submit</button>
      </div>
    </div>

    <script>
      const sliders = document.querySelectorAll(".slider");
      const output = document.getElementById("output");
      const submitBtn = document.getElementById("submitBtn");
      const durationInput = document.getElementById("duration_ms");
      const tempoInput = document.getElementById("tempo");
      const genreSelect = document.getElementById("track_genre");
      // https://en.wikipedia.org/wiki/Pitch_class
      const keySelect = document.getElementById("key");

      // Function to handle submit button click
      function handleSubmit() {
        // Collect slider values
        const sliderValues = {};
        sliders.forEach((slider) => {
          sliderValues[slider.id] = parseFloat(slider.value);
        });

        const duration = parseFloat(durationInput.value);
        const tempo = parseFloat(tempoInput.value);
        const selectedGenre = genreSelect.value;
        const selectedKey = keySelect.value;

        const data = {
          sliderValues: sliderValues,
          duration_ms: duration,
          tempo: tempo,
          track_genre: selectedGenre,
          key: selectedKey,
        };
        fetch("/get_predictions_from_inputs", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json()) // Parse response as JSON
          .then((data) => {
            // Assuming your prediction is a probability value

            output.innerHTML = `<div style="text-align: center;">The likelihood of your song being popular based on the selected inputs is:   <span style="font-size: 32px;">${data.prediction}</span></div>`;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Add event listener to submit button
      submitBtn.addEventListener("click", handleSubmit);

    </script>
  </body>
</html>
