html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #111827d2;
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.background-color-1 {
  position: absolute;
  top: -6rem;
  z-index: -1;
  right: -16rem;
  height: 31.25rem;
  width: 68.25rem;
  border-radius: 100%;
  filter: blur(15rem);
  background-color: #e751a46b;
}

.background-color-2 {
  position: absolute;
  bottom: -6rem;
  z-index: -1;
  left: -16rem;
  height: 31.25rem;
  width: 68.25rem;
  border-radius: 100%;
  filter: blur(15rem);
  background-color: #42f3d259;
}

.model-inputs-contatiner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.model-inputs-sliders {
  display: grid;
  grid-template-areas:
    "title title"
    "inputs sliders"
    "button button";
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  background: #292f3cbc;
  color: whitesmoke;
  border-radius: 25px;
  width: 60vw;
  padding: 1vmin 4vmin;
  gap: 5vmin;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 25%);
  justify-items: center;
}

.title {
  grid-area: title;
}

.model-inputs {
  display: flex;
  flex-direction: column;
  grid-area: inputs;
  width: 100%;
  height: 100%;
}

.model-sliders {
  grid-area: sliders;
}

.model-inputs label {
  font-weight: bold;
}

.input,
.select {
  margin: 10px 0px;
  border: 1px solid #828282;
  color: white;
  padding: 14px;
  background: #2d2c2cba;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

/* Style the container */
/* .slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Style the sliders */
.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #2d2c2cba;
  outline: none;
  opacity: 0.7;
  padding: 14px;
  -webkit-transition: 0.2s;
  box-shadow: 0px 0px 5px black;
  transition: opacity 0.2s;
  margin-top: 10px;
}

/* Style the thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: whitesmoke;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/* Style the output */
#output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  background: #e751a43b;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 3px #42f3d327;
  padding: 4vmin;
}

/* Style the submit button */
#submitBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #e751a43b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  grid-area: button;
  transition: all 0.3s ease-in-out;
}

#submitBtn:hover {
  scale: 1.1;
  background: #42f3d327;
}

/* Style the labels */
.slider-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the duration input */
#durationInput {
  margin-top: 20px;
  font-size: 16px;
  width: 25%;
}

/* Style the genre dropdown */
#genreSelect {
  margin-top: 20px;
  font-size: 16px;
  width: 50%; /* Adjust width as needed */
  padding: 8px; /* Add padding for better appearance */
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  outline: none;
}

/* Style the key dropdown */
#keySelect {
  margin-top: 20px;
  font-size: 16px;
  width: 50%; /* Adjust width as needed */
  padding: 8px; /* Add padding for better appearance */
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  outline: none;
}

.hidden {
  display: none !important;
}
